@keyframes background--breathe {
	0% {
		transform: scale(1.15);
	}
	50% {
		transform: scale(1.18);
	}
	100% {
		transform: scale(1.15);
	}
}

@keyframes background--rotate {
	0% {
		rotate: -1.4deg;
	}
	50% {
		rotate: 1.4deg;
	}
	100% {
		rotate: -1.4deg;
	}
}

@keyframes breathe {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.05;
	}
	100% {
		scale: 1;
	}
}

@keyframes snowscroll {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1300px 1970px;
	}
}
