#galleryContainer {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery {
    width: 160px;
    height: 160px;

    margin: 2px;
}

.gallery .caption {
    /* margin: 7px; */

    border: solid var(--border-color) 2px;
    border-radius: 10px;
    max-width: 170px;

    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.thumbnail {
    width: 100%;
    border-radius: 2px;
}

.flex {
    display: flex;
    width: 100%;
}

.songWrap {
    text-align: center;
    font-family: sm-book;
    width: 25%;
}

.songWrap td {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px;
    border: solid var(--border-color) 2px;
    border-radius: 6px;
}

.songCover {
    width: 32px;
    border-radius: 6px;
    box-shadow: 0px 1px 6px black;
}

#audiosource {
    width: 100%;
}

.visualizerWrap {
    width: 75%;
}

#wavcontainer {
    height: 350px;
    margin-bottom: 20px;
    border: solid var(--border-color) 4px;
    border-radius: 20px;
    overflow: hidden;
}