/* #region backgrounds */
#background {
	position: fixed;
	z-index: -2;
	animation:
		background--breathe 30s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite,
		background--rotate 45s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
	background-image: url("/assets/backgrounds/darkwinter.webp");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
#background__dim {
	position: fixed;
	top: 0;
	z-index: -2;
	background: linear-gradient(
		to right,
		rgb(0 0 0 / 40%),
		transparent 20% 85%,
		rgb(0 0 0 / 40%)
	);
	width: 100vw;
	height: 100vh;
}

#snowholder {
	position: fixed;
	top: 0;
	z-index: -1;
	mask-image: linear-gradient(
		to right,
		transparent,
		black,
		black,
		transparent
	);
	width: 100vw;
	height: 100vh;
}

.snow {
	position: fixed;
	top: 0;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: snowscroll;
	margin: auto;
	width: 100vw;
	height: 100vh;
}

.snow1 {
	opacity: 0.9;
	animation-duration: 18s;
	background-image: url("/assets/backgrounds/snow1.png");
}

.snow2 {
	opacity: 0.6;
	animation-duration: 28s;
	background-image: url("/assets/backgrounds/snow2.png");
}

.snow3 {
	opacity: 0.3;
	animation-duration: 42s;
	background-image: url("/assets/backgrounds/snow3.png");
}
/* #endregion */

#pageContent {
	margin: auto;
	margin-bottom: 100px;
	max-width: 880px;
}

.autoplayer {
	position: fixed;
	bottom: 5px;
	left: 5px;
	z-index: 5;
	cursor: pointer;
}

.autoplayer button {
	position: fixed;
	bottom: 12px;
	left: 9px;
	z-index: 2;
	cursor: var(--cursor-pointer);
	box-shadow:
		2px 2px var(--border-color1),
		-2px -2px var(--border-color2);
	border-radius: 40px;
	background: linear-gradient(
		180deg,
		var(--bg-color-opacity1) 40%,
		var(--bg-color-opacity2)
	);
	padding: 1px 4px 0;
	width: 35px;
	height: 35px;
	color: var(--text-color);
	font-weight: bold;
	font-size: 18px;
}

.autoplayer a {
	position: fixed;
	bottom: 9px;
	left: 55px;
	z-index: 1;
	box-shadow:
		2px 2px var(--border-color1),
		-2px -2px var(--border-color2);
	border: solid var(--border-color) 2px;
	border-radius: 8px;
	background: linear-gradient(180deg, var(--container-color) 30%, black);
	padding: 2px 10px;
	color: var(--text-color);
	font-size: 12px;
}

.autoplayer input {
	position: fixed;
	bottom: 54px;
	left: 50px;
	width: 100px;
}

html {
	overflow-y: scroll;
	scrollbar-gutter: stable;
}

nav {
	display: flex;
	top: 10px;
	justify-content: center;
	z-index: 100;
	margin-top: 10px;
}

nav a,
nav button {
	margin: 0.3rem;
	box-shadow: rgb(0 0 0 / 70%) 0 0 8px;
	border: solid var(--border-color) 2px;
	border-radius: 20px;
	background-color: var(--container-color);
	padding: 12px;
	min-width: 60px;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	text-align: center;
	text-shadow: inherit;
}

body {
	margin: 0;
	background-color: black;

	color: var(--text-color);
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.4;
	font-family: Montserrat;
	text-shadow:
		1px 2px 2px black,
		-1px 2px 2px black;
	/* cursor: url('/assets/cursor.png'); */
}

.container {
	margin: 25px 2vw;
	box-shadow: rgb(0 0 0 / 70%) 0 0 8px;
	border: solid var(--border-color) 3px;
	border-radius: 14px;
	background-color: var(--container-color);
	padding: 12px;
}

.container__text {
	margin: auto;
	width: 650px;
	max-width: 100%;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		text-shadow: 1px 1px 1px rgb(0 0 0 / 15%);
	}
}

@media (width <=768px) {
	body {
		font-size: 0.875rem;
	}
}

@media (prefers-reduced-motion: reduce) {
	#background {
		animation: none;
		transition: none;
	}
}
