.logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.6)) drop-shadow(-2px 5px 8px rgba(0, 0, 0, 0.6));
}

.logo img {
    width: 93%;
    max-width: 650px;
    animation: breathe 7s cubic-bezier(.45, .05, .55, .95) infinite;
}

.linksWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksButton {
    max-width: 80px;
    width: 25%;
    height: 100%;
    margin: 0 .4em 0 .4em;
    line-height: 0;
}

.linksButton:hover .linksIcon {
    transform: translateY(-9px);
    transition: 0.15s cubic-bezier(0, 1.4, 0.5, 1.4);
}

.linksIcon {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 8px #000);
}

