.logo {
	display: flex;
	justify-content: center;
	filter: drop-shadow(2px 5px 8px rgb(0 0 0 / 60%))
		drop-shadow(-2px 5px 8px rgb(0 0 0 / 60%));
	margin-top: 40px;
}

.logo img {
	animation: breathe 7s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
	width: 93%;
	max-width: 650px;
}

.links-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.links-button {
	margin: 0 0.4em;
	width: 25%;
	max-width: 80px;
	height: 100%;
	line-height: 0;
}

.links-icon {
	filter: drop-shadow(0 0 8px #000);
	width: 100%;
	height: auto;
}

.links-button:hover .links-icon {
	transform: translateY(-9px);
	transition: 0.15s cubic-bezier(0, 1.4, 0.5, 1.4);
}
