.ID_card {
    background-image: url(/assets/idcard/light-grove.png);
    background-size: 100%;
    display: flex;

    aspect-ratio: 3.375 / 2.125;
    height: var(--id_height);

    font-family: DM-MediumItalic;
    font-weight: bold;
    color: black;
    text-shadow: none;
    line-height: 14px;

    margin-left: 40px;
    border-radius: calc(var(--id_height)/17);
    border: 2px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.ID_zone1 {
    background-color: rgba(1, 16, 94, 0.7);
    mix-blend-mode: multiply;

    border-radius: 0 0 20px;
    padding: 20px;

    font-family: dm-mediumItalic;
    font-size: 35px;
    line-height: 0;
    color: white;


}

.ID_zone2 {
    padding: 20px;
    width: 100%;
}

.ID_zone3 {
    padding: 20px;
}

.ID_image {
    width: 12em;
    border-radius: 0.5em;
    box-shadow: #000 0 0 3px;
}

.ID_zoneLeft {
    display: auto;
}

.profileField {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.profileBio {
    margin-left: 40px;
    width: 320px;
}

.profileLexieSpeech {
    font-size: 20px;
    color: #dbc0ff;
    text-shadow:
        -1px -1px 0 #881832,
        1px -1px 0 #881832,
        -1px 1px 0 #881832,
        1px 1px 0 #881832,
        2px 3px 0 black;
}

.profileHazelSpeech {
    font-size: 20px;
    color: #ffd8c0;
    text-shadow:
        -1px -1px 0 #a02222,
        1px -1px 0 #a02222,
        -1px 1px 0 #a02222,
        1px 1px 0 #a02222,
        2px 3px 0 black;
}

.flex-wrap {
    display: flex;
    justify-content: center;
}

.flag {
    width: 120px;

    border-width: 3px;
    border-radius: 10px;

    margin: auto 6px 15px 6px;
    box-shadow: 0px 4px 7px black;
}