@font-face {
    font-family: mont;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: dm-bold;
    src: url("/fonts/DraftingMono-Bold.ttf");
}

@font-face {
    font-family: sm-book;
    src: url("/fonts/SimplyMono-Book.ttf");
}

@font-face {
    font-family: dm-mediumItalic;
    src: url("/fonts/DraftingMono-MediumItalic.ttf");
}

a:link {
    text-decoration: none;
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

h1 {
    text-align: center;
    text-shadow: 1px 3px black, -1px 3px black;
}

button {
    all: unset;
    cursor: pointer;
}

.cardTable {
    border-collapse: separate;
    border: solid rgba(11, 36, 160, 0.4) 4px;
    border-spacing: 3px;
    border-radius: 6px;
}

.cardTable th,
.cardTable td {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.evenTable {
    table-layout: fixed;
    width: 100%;
    margin: 6px 0;
    text-align: center;
}

.evenTable th,
.evenTable td {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}