@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jim+Nightshade&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	src: url("/fonts/DraftingMono-Regular.ttf");
	font-family: mono;
}

@font-face {
	src: url("/fonts/SimplyMono-Book.ttf");
	font-family: sm-book;
}

.splash-regular {
	font-style: normal;
	font-weight: 400;
	font-family: Splash, cursive;
}

.centered {
	text-align: center;
}

a:link {
	color: var(--link-color);
	text-decoration: none;
}

a:visited {
	color: var(--link-color);
}

h1 {
	text-align: center;
	text-shadow:
		1px 3px black,
		-1px 3px black;
}

button {
	all: unset;
	cursor: pointer;
}

.cardTable {
	border: solid rgb(11 36 160 / 40%) 4px;
	border-radius: 6px;
	border-collapse: separate;
	border-spacing: 3px;
}

.cardTable th,
.cardTable td {
	border-radius: 4px;
	background-color: rgb(255 255 255 / 80%);
}

.evenTable {
	margin: 6px 0;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
