assets/gallery/generateGalleryList.bat.lnk
assets/tracks/generateTrackList.bat.lnk
scripts/generateGalleryList.bat
scripts/generateGalleryList.js
scripts/generateTrackList.bat
scripts/generateTrackList.js
gitpush.bat
start-local-server.bat
*.log