@import url(css/animation.css);
@import url(css/typography.css);
@import url(css/global.css);
@import url(css/homepage.css);
@import url(css/profiles.css);
@import url(css/creations.css);

:root {
	--id_height: 40vh;
	--id_width: 90vw;
	--container-color: rgb(9 14 29 / 80%);
	--container-color-b: rgb(9 14 29 / 100%);
	--border-color: rgb(196 210 255 / 50%);
	--border-color-opaque: rgb(196 210 255);
	--link-color: #66b2ff;
	--text-color: white;
}

@media (prefers-color-scheme: light) {
	:root {
		--container-color: rgb(204 214 248 / 85%);
		--border-color: rgb(12 64 94 / 80%);
		--link-color: #0165e9;
		--text-color: black;
	}
}

* {
	/* background: #888; */
	scrollbar-color: var(--border-color) var(--container-color);
	scrollbar-gutter: stable;
}

/* @media only screen and (max-width: 960px) {
    #center-panel {
        width: 80%;
    }
} */
