@import url(css/animation.css);
@import url(css/typography.css);
@import url(css/global.css);
@import url(css/homepage.css);
@import url(css/profiles.css);
@import url(css/creations.css);

:root {
    --id_height: 4in;
    --container-color: rgba(9, 14, 29, 0.8);
    --container-color-b: rgba(9, 14, 29, 1);
    --border-color: rgba(196, 210, 255, 0.5);
    --link-color: #66b2ff;
    --text-color: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --container-color: rgba(204, 214, 248, 0.85);
        --border-color: rgba(12, 64, 94, 0.8);
        --link-color: #0165e9;
        --text-color: black;
    }
}

* {
    /* background: #888; */
    scrollbar-color: var(--border-color) var(--container-color);
}

/* @media only screen and (max-width: 960px) {
    #center-panel {
        width: 80%;
    }
} */